@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  body {
      @apply bg-white dark:bg-gray-900; 
  }
}

.bg-image-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }